.article-header {
    background-color: darkcyan;
    color: white;
    border: 3px solid transparent;
    text-align: center;
}

.section-content {
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.add-employee-btn {
    float:right;
    margin-bottom: 5px;
}